<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title ? title : 'Przemyśl Перемишль Login System'  %>
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="text-center center-div mt-5" id="login">
        <div class="container w-25 border py-5 mt-5">
            <h3>Welcome to Express Dashboard</h3>
            <h5>
                <%= locals.user ? user : "User" %>
            </h5>
            <a href="/route/logout">Logout</a>
        </div>
    </div>

</body>

</html>