<html>

<head>
    <title>Display Positions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <style>
        /* Set the size of the div element that contains the map */
        
        #map {
            height: 90%;
            width: 100%;
        }
    </style>

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Kiev
            const Kiev = {
                lat: 50.45466,
                lng: 30.5238
            };
            // The map, centered at Kiev
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 6.5,
                center: Kiev,
            });
            // The marker, positioned at Kiev

            let positions = JSON.stringify('/lib');
            console.log(JSON.stringify(positions)) //da sistemare, meglio usare mongodb
            const marker = new google.maps.Marker({
                position: Kiev,
                map: map,

            });
        }

        window.initMap = initMap;
    </script>
</head>

<body>
    <h3>Positions acquired during sessions</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5CJQIPQodlFJuvnV1iutU2xojV84M5dI&callback=initMap&v=weekly" defer></script>
</body>

</html>