<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="container">



    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>

            <h2>

            </h2>
            </h2>
            <p>
                <%= url %>
            </p>
        </div>
    </main>

    <script type="text/javascript" src="../static/news.js"></script>

</body>

</html>