<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="/img/icon.png">

</head>

<body>



    <main>

        <div><input type="button" style="margin: 10px ;" id="home" value="Home" onclick="location.href = '/';" class="btn btn-danger"></div>
        <h1 class="display-4 text-danger">Latest UKrain-Russian War News from Guardian</h1>

        <% data.forEach(function(val, index) {%>
            <div class="list-group">
                <a href="<%=val.url %>" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            <%=val.title %>
                        </h5>
                    </div>
                    <p class="mb-1">
                        <%=val.url %>
                    </p>
                    <small class="text-muted">Guardian</small>
                </a>
            </div>
            <%})%>



</body>

</html>